<!DOCTYPE html>
<html>
    <head>
        <title>Мой сайт</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Домой</a></li>
                <li><a href="/my-code">Мой код</a></li>
                <li><a href="/add">Добавить студента</a></li>
            </ul>
        </nav>
        <div>
            hello python!
        </div>
        <a href="https://flask-russian-docs.readthedocs.io/ru/0.10.1/">
            Документация Flask на русском.
        </a>
    </body>
</html>
