<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователя в БД</title>
</head>
<body>
    <h1>Добавить пользователя</h1>
    <form method="POST">
        <div>
          <input type="text" name="username" placeholder="Логин" required/>
        </div>
        <div>
          <input type="text" name="second_name" placeholder="Фамилия"/>
        </div>
        <div>
            <input type="number" name="year" placeholder="Год рождения"/>
        </div>
        <div>
          <input type="email" name="email" placeholder="Email"/>
        </div>
        <div>
          <input type="checkbox" name="is_active" checked/>
        </div>
        <div>
            <button>Добавить</button>
        </div>
    </form>
</body>
</html>